<header>            
    <div id="navbar-container">
        <a id="brand-name" href="index.html">E-Shop</a>
        <ul id="navbar">
            <li>
                <a class="no-underline options" href="#">Browse Categories </a>
                <ul class="dropdown">
                    <li><a class="no-underline" href="#">Computers</a></li>
                    <li><a class="no-underline" href="#">Smartphones</a></li>
                    <li><a class="no-underline" href="#">Cameras</a></li>
                    <li><a class="no-underline" href="#">Smart watches</a></li>
                </ul>
            </li>
            <li><a class="no-underline options" href="#">🔥Super Deals</a></li>
            <li><a class="no-underline options" href="#">About</a></li>
            <li><a class="no-underline options" href="#">Contact</a></li>
            <li><a class="no-underline options" href="#"><i class="fa-solid fa-cart-shopping"></i><span>Cart</span></a></li>
            <li><a class="no-underline user-login options" href="#"><i class="fa-solid fa-user"></i><span class="login-text">Hello, 
                                            <strong>Login/Sign Up</strong></span></a></li>


        </ul>
    </div>
</header>